<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - WhiTees</title>
        <link rel="apple-touch-icon" href="~/assets/img/whitees-logo-rm.png">
        <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/whitees-logo-rm.png">

        <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/assets/css/templatemo.css">
        <link rel="stylesheet" href="~/assets/css/custom.css">

        <!-- Load fonts style after rendering the layout styles -->

        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700;800&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="~/assets/css/fontawesome.min.css">
    </head>

    <body>
        <partial name="_TopNavBarPartial" />
        <partial name="_HeaderNavPartial" />

        <div>
        @RenderBody()
        </div>

        <partial name="_FooterPartial" />

        <!-- Start Script -->
        <script src="~/assets/js/jquery-1.11.0.min.js"></script>
        <script src="~/assets/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="~/assets/js/bootstrap.bundle.min.js"></script>
        <script src="~/assets/js/templatemo.js"></script>
        <script src="~/assets/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
        <!-- End Script -->
    </body>

</html>
