<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - WhiTees</title>
        <link rel="apple-touch-icon" href="~/assets/img/whitees-logo-rm.png">
        <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/whitees-logo-rm.png">

        <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/assets/css/templatemo.css">
        <link rel="stylesheet" href="~/assets/css/custom.css">

        <!-- Load fonts style after rendering the layout styles -->

        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700;800&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="~/assets/css/fontawesome.min.css">
    </head>


    <body>
        <!-- Header -->
        <nav class="navbar navbar-expand-lg navbar-light shadow">
            <div class="container d-flex justify-content-between align-items-center">

                <img src="~/assets/img/logo.png" width="150px">

                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
                    id="templatemo_main_nav">
                    <div class="flex-fill">
                        <ul class="nav navbar-nav d-flex justify-content-end mx-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","Home")">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","Shirt")">Shop</a>
                            </li>

                        </ul>
                    </div>

                </div>

            </div>
        </nav>
        <!-- Close Header -->

        <div>
        @RenderBody()
        </div>


        <!-- Start Script -->
        <script src="~/assets/js/jquery-1.11.0.min.js"></script>
        <script src="~/assets/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="~/assets/js/bootstrap.bundle.min.js"></script>
        <script src="~/assets/js/templatemo.js"></script>
        <script src="~/assets/js/custom.js"></script>
        <!-- End Script -->
    </body>

</html>
