@model int



<a class="nav-icon position-relative text-decoration-none" href="@Url.Action("ShoppingCart","Order")">
    <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
    @if (Model > 0)
    {
        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">@Model</span>
    }
</a>